.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.block-title {
  padding: 20px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
}

.hero {
  width: 500px;
  margin-inline: auto;
  text-align: right;

  .hero-img {
    width: 100%;
  }

  .hero-link {
    font-family: fantasy, cursive;
  }
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }
}

.content-wrapper {
  max-width: 500px;
  margin-inline: auto;
}

.input-container {
  display: flex;
}
.task-input {
  flex-grow: 1;
  padding: 3px 10px;
  margin: 0;
  outline: none;
  color: #333;
  font-size: 18px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
}

.task-input:disabled {
  background: transparent;
  border-color: transparent;
  color: #888;
}

#completed-tasks-list .task-input:disabled {
  text-decoration: line-through;
}

.task-item-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 15px 0;
  border-bottom: 3px solid #eee;
}

.task-status-togler {
  margin: 10px;
}

.list-of-tasks {
  padding: 0;
}

.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3a3a;
}

.delete-btn {
  position: relative;
  width: 2em;
  height: 2em;
}
.delete-btn::before {
  content: url("remove.svg");
  display: inline-block;
  width: 2em;
  height: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete-btn:hover::before {
  transform: translate(-50%, -50%) rotateZ(0);
}
